.back {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: rgb(177, 178, 180);
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.bord
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(190, 221, 249);
    height: 40px;
    width: 120px;
    border: 1.5px solid black;
    border-radius: 10px;
}